<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gramswaraj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo5"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo5"
        android:supportsRtl="true"
        android:theme="@style/Theme.GramSwaraj">
        <activity
            android:name=".gpActivity"
            android:exported="false" />
        <activity
            android:name=".YojnaActivity"
            android:exported="false" />
        <activity
            android:name=".WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".clicked_item"
            android:exported="false" />
        <activity
            android:name=".row_items"
            android:exported="false" />
        <activity
            android:name=".GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".aboutus_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Menu_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>